{% extends "base_generic.html" %}

{% block title %}<title>Home - Local Library</title>{% endblock %}

{% block content %}
  <h1 style="text-align: center;">Local Library Home</h1>
  <p style="text-align: center;">Welcome to LocalLibrary, a website developed by <em>Ampas Developer</em>!</p>
  <hr>
  <h2>The library has the following record counts:</h2>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
  <p style="text-align: center;">You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}